<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.forest.guessthegame">

    <application
        android:name=".ChangeFontForAllApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity
            android:name=".activity.Main_Activity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Game_Activity"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Game_over_activity"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".activity.Info_app_Activity"
            android:screenOrientation="landscape" />

    </application>

</manifest>